* {
    margin: 0em;
    padding: 0em;
}


.secvis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.textoBasico {
    color: white;
}

.luchadores{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.picFighter{
    width: 12em;
    height: 12em;
    border: 0.5em solid white;
    margin: 1em;
    transition: 0.5s;
}

.picFighter:hover{
    border: 0.5em solid yellow;
    transition: 0.5s;
}

.seleccionado{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.maquetaEquipos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.teamCharacters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 28em;
    width: 15em;
    margin: 6em;
}

/* .fightPanel{

    width: 5em;
    height: 8em;

} */



.fotoVersus {
    width: 30em;
    height: 18em;
}
